body {
    background-color: #224459;
    color: #f5deb3
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 60vw;
    margin: 0 auto;
    font-family: 'Aboreto', cursive;
    text-align: center;
    background-color: #225952;
  }
h1 {
    font-family: 'Aboreto', cursive;
    text-align: center;
}
.image {
    width: 60vw;
    /* height: 33vh; */
}

button {
    display: block;
    margin: 0 auto;
    height: 8vh;
    width: 45vw;
    font-size: 3vh;
    margin-top: 5vh;
    font-family: 'Aboreto', cursive;
    background-color: #222959;
    color: white;
}

button:hover{
    color:#222959;
    background-color: white;
}